head
	meta(content='text/html' charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='PWA Lista de compras')
	meta(name='author', content='Victor Eduardo Barreto')
	title Listas
	link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
	link(href='css/style.css', rel='stylesheet')
	link(href='/manifest.json', rel='manifest')
