nav.navbar.navbar-inverse.navbar-fixed-top
	div.container
		a.navbar-brand(onclick="enterList()"): i#navigation.glyphicon.glyphicon-home.text-info
		a.navbar-brand: span#brand Listas
		a.navbar-brand.pull-right(onclick="menu()"): i.glyphicon.glyphicon-option-vertical
		a.navbar-brand.pull-right(onclick="addItem()"): i.glyphicon.glyphicon-plus
